controller:
  replicaCount: 1
  nodeSelector:
    ingress: "true"
  service:
    externalTrafficPolicy: "Local"
    annotations:
      # service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
      # service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
      service.beta.kubernetes.io/aws-load-balancer-type: "external"
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
      service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: preserve_client_ip.enabled=true
    internal:
      enabled: true
      annotations:
        # service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
        service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
        # service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"
        service.beta.kubernetes.io/aws-load-balancer-scheme: internal
        service.beta.kubernetes.io/aws-load-balancer-type: "external"
        service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "ip"
        service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: preserve_client_ip.enabled=true
  volumes:
    - emptyDir:
        medium: Memory
        sizeLimit: 512M
  config:
    # worker-processes: 4
    ignore-invalid-headers: false
    proxy-buffer-size: "16k"
    log-format-escape-json: true
    log-format-upstream: '{"@timestamp": "$time_iso8601", "@version": 1, "remote_addr": "$remote_addr", "request": "$request",
      "status": $status, "http_host": "$host", "tls_protocol": "$ssl_protocol", "tls_cipher": "$ssl_cipher",
      "request_time": $request_time, "request_length": $request_length, "request_method": "$request_method",
      "body_bytes_sent": $body_bytes_sent, "upstream_cache_status": "$upstream_cache_status", "remote_user": "$remote_user",
      "http_x-request-id": "$http_x_request_id", "http_referrer": "$http_referer", "http_user_agent": "$http_user_agent",
      "http_x-forwarded-for": "$http_x_forwarded_for"}'
    limit-req-status-code: "429"
    use-forwarded-headers: "true"
    proxy-real-ip-cidr: "173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22,2400:cb00::/32,2606:4700::/32,2803:f800::/32,2405:b500::/32,2405:8100::/32,2a06:98c0::/29,2c0f:f248::/32"
    forwarded-for-header: "CF-Connecting-IP"
