#!/bin/sh
set -ue

java \
    "-XX:OnOutOfMemoryError=kill %p" -XX:+HeapDumpOnOutOfMemoryError \
    -jar \
    /opt/ke-analytics/ke-analytics.jar \
    -Djavax.net.ssl.trustStore=/opt/ke-analytics/cert/marketdb.jks \
    -Djavax.net.ssl.trustStorePassword=StrongPasswd" \
    ${@}
